<% content_for :header_tags do %>
 <%= header_tags %>
<% end %>
<%= invoice_menu %>

<h1>New Payment</h1>

<% labelled_tabular_form_for(:payment, @payment, :url => { :action => 'create'}) do |form| %>
<fieldset>
<legend>Payment</legend>
<%= error_messages_for 'payment' %>

<p>
  <%= form.select :invoice_id, Invoice.find(:all).collect { |i| ["##{i.invoice_number}", i.id]}, {}, 
  { :onchange => "new Ajax.Request('#{url_for :action => 'load_assigned_issues'}', { parameters: { invoice_id: $F(this) } } )" }  %>
  <%= observe_field 'payment_invoice_id', :url => { :controller => 'invoice', :action => 'outstanding' },
    :with => "invoice_id",
  :update => 'outstanding'  %>
</p>

<p>
  <%= form.text_field :applied_on, :size => 10 %><%= calendar_for('payment_applied_on') %>
</p>
  
<p>
  <%= form.text_field :amount %> <small>Amount outstanding is $<span id="outstanding"><%= @payment.invoice.outstanding unless @payment.invoice.nil? %></span></small>
</p>

<p>
  <%= form.text_area :note, :cols => 60, :rows => 2 %>
</p>

</fieldset>


<p><%= form.submit "Create" %></p>

<% end %>
